{% extends "base.html" %}

{% block content %}
<!--    <h1>{{ block_title }}</h1><hr>-->
        <!-- Cover Image -->
        <div class="image-container">
            <div class="cover">
                <img class="img-fluid rounded" src="static/hotel_images/cover.jpg" alt="Hotel 1">
            </div>
        </div>
        <!-- Featured Hotels -->
        <div class="featured">
            <h2>Featured Hotels</h2>
            <div class="hotel-card">
                <img class="img-fluid rounded" src="{{ url_for('static', filename='hotel_images/' + hotels.0.image_file) }}" alt="{{ hotels.0.name }}">
                <h3>{{ hotels.0.name }}</h3>
            </div>
            <div class="hotel-card">
                <img class="img-fluid rounded" src="{{ url_for('static', filename='hotel_images/' + hotels.2.image_file) }}" alt="{{ hotels.2.name }}">
                <h3>{{ hotels.2.name }}</h3>
            </div>
            <div class="hotel-card">
                <img class="img-fluid rounded" src="{{ url_for('static', filename='hotel_images/' + hotels.4.image_file) }}" alt="{{ hotels.4.name }}">
                <h3>{{ hotels.4.name }}</h3>
            </div>
            <div class="hotel-card">
                <img class="img-fluid rounded" src="{{ url_for('static', filename='hotel_images/' + hotels.6.image_file) }}" alt="{{ hotels.6.name }}">
                <h3>{{ hotels.6.name }}</h3>
            </div>
        </div>
        <!-- Featured Rooms -->
        <div class="featured">
            <h2>Featured Rooms</h2>
            <div class="hotel-card">
                <img class="img-fluid rounded" src="{{ url_for('static', filename='room_images/' + rooms.8.image_file) }}" alt="{{ rooms.8.name }}">
                <h3>Single Rooms</h3>
            </div>
            <div class="hotel-card">
                <img class="img-fluid rounded" src="{{ url_for('static', filename='room_images/' + rooms.0.image_file) }}" alt="{{ rooms.0.name }}">
                <h3>Double Rooms</h3>
            </div>
            <div class="hotel-card">
                <img class="img-fluid rounded" src="{{ url_for('static', filename='room_images/' + rooms.6.image_file) }}" alt="{{ rooms.6.name }}">
                <h3>Suite Rooms</h3>
            </div>
            <div class="hotel-card">
                <img class="img-fluid rounded" src="{{ url_for('static', filename='room_images/' + rooms.4.image_file) }}" alt="{{ rooms.4.name }}">
                <h3>Deluxe Rooms</h3>
            </div>
        </div>
        <!-- Cover Image -->
        <div class="image-container">
            <div class="cover">
                <img class="img-fluid rounded" src="static/hotel_images/cover.jpg" alt="Hotel 1">
            </div>
        </div>
    <script>
        // Add JavaScript interactivity here if needed
        console.log('Homepage loaded successfully!');
    </script>
{% endblock content %}


