{% extends "base.html" %}

{% block content %}
<!--    <h1>{{ block_title }}</h1><hr>-->
    <h1>Explore Hotels</h1><hr>
    <form method="POST" action="{{ url_for('main.home', filter_key=filter_key, filter_value=filter_value) }}">
        <h5>Filter By:</h5>
        <h6>
            Hotel Name:
            <select name="name">
                {% for hotel_name in hotel_names %}
                    <option value="{{ hotel_name }}" >{{ hotel_name }}</option>
                {% endfor %}
            </select>
            <input id="nx" name="name" class="btn btn-info btn-md mt-1 mb-1" type="submit" value="Filter" />
            State:
            <select name="state">
                {% for hotel_state in hotel_states %}
                    <option value="{{ hotel_state }}" >{{ hotel_state }}</option>
                {% endfor %}
            </select>
            <input id="sx" name="state" class="btn btn-info btn-md mt-1 mb-1" type="submit" value="Filter" />
            City:
            <select name="city">
                {% for hotel_city in hotel_cities %}
                    <option value="{{ hotel_city }}" >{{ hotel_city }}</option>
                {% endfor %}
            </select>
            <input id="cx" name="city" class="btn btn-info btn-md mt-1 mb-1" type="submit" value="Filter" />
        </h6>
    </form>
    <hr>
    {% for hotel in hotels %}
        <article class="media content-section">
            <div class="media-body">
                <div class="image-container">
<!--                    <a class="article-title" href="{{ url_for('hotels.hotel', hotel_id=hotel.id) }}">-->
                    <a class="article-title" href="{{ url_for('hotels.hotel_rooms', hotel_id=hotel.id) }}">
                        <img class="img-fluid rounded" src="{{ url_for('static', filename='hotel_images/' + hotel.image_file) }}" alt="{{ hotel.name }}">
                    </a>
                </div><hr>
                <div class="article-metadata">
                    <h5>
                        {{ hotel.type }}
                        <small class="article-content">{{ hotel.state }}, {{ hotel.city }}</small>
                    </h5>
                </div>
<!--                <h2><a class="article-title" href="{{ url_for('hotels.hotel', hotel_id=hotel.id) }}">{{ hotel.name }}</a></h2>-->
                <h2><a class="article-title" href="{{ url_for('hotels.hotel_rooms', hotel_id=hotel.id) }}">{{ hotel.name }}</a></h2>
                <p class="article-content">{{ hotel.description }}</p>
            </div>
        </article>
    {% endfor %}
    {% for page_num in hotels.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if hotels.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('main.home', filter_key=filter_key, filter_value=filter_value, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', filter_key=filter_key, filter_value=filter_value, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}
