{% extends "base.html" %}

{% block content %}
    <h1>{{ block_title }}</h1><hr>
    {% for hotel in hotels %}
        <article class="media content-section">
            <div class="media-body">
                <div class="image-container">
<!--                    <a class="article-title" href="{{ url_for('hotels.hotel', hotel_id=hotel.id) }}">-->
                    <a class="article-title" href="{{ url_for('hotels.hotel_rooms', hotel_id=hotel.id) }}">
                        <img class="img-fluid rounded" src="{{ url_for('static', filename='hotel_images/' + hotel.image_file) }}" alt="{{ hotel.name }}">
                    </a>
                </div><hr>
                <div class="article-metadata">
                    <h5>
                        {{ hotel.type }}
                        <small class="article-content">{{ hotel.state }}, {{ hotel.city }}</small>
                    </h5>
                </div>
<!--                <h2><a class="article-title" href="{{ url_for('hotels.hotel', hotel_id=hotel.id) }}">{{ hotel.name }}</a></h2>-->
                <h2><a class="article-title" href="{{ url_for('hotels.hotel_rooms', hotel_id=hotel.id) }}">{{ hotel.name }}</a></h2>
                <p class="article-content">{{ hotel.description }}</p>
            </div>
        </article>
    {% endfor %}
    {% for page_num in hotels.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if hotels.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}
