{% extends "base.html" %}

{% block content %}
    <h1>{{ block_title }}</h1><hr>
    <h2 class="mb-3">Rooms by {{ hotel.name }} ({{ rooms.total }})</h2>
    {% for room in rooms.items %}
        <article class="media content-section">
            <div class="media-body">
                <div class="image-container">
                    <a class="article-title" href="{{ url_for('rooms.room_reservations', room_id=room.id) }}">
                        <img class="img-fluid rounded" src="{{ url_for('static', filename='room_images/' + room.image_file) }}" alt="{{ room.name }}">
                    </a>
                </div><hr>
                <div class="article-metadata">
                    <h5>
                        {{ room.type }}
                        <small class="article-content">{{ room.capacity }} bed(s), upto {{ room.capacity * 3 }} guests</small>
                        <a class="btn btn-info btn-lg mt-1 mb-1" href="{{ url_for('reservations.create_reservation', room_id=room.id) }}">Reserve</a>
                    </h5>
                </div>
<!--                <h2><a class="article-title" href="{{ url_for('rooms.room', room_id=room.id) }}">{{ room.number }}</a></h2>-->
<!--                <h2><a class="article-title" href="{{ url_for('rooms.room_reservations', room_id=room.id) }}">{{ room.number }}</a></h2>-->
                <p class="article-content">{{ room.description }}</p>
                <p class="article-content">price - Rs. {{ room.price }}/-</p>
            </div>
        </article>
    {% endfor %}
    {% for page_num in rooms.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if rooms.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('hotels.hotel_rooms', hotel_id=hotel.id, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('hotels.hotel_rooms', hotel_id=hotel.id, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}