{% extends "base.html" %}

{% block content %}
    <h1>{{ block_title }}</h1><hr>
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ url_for('static', filename='hotel_images/' + hotel.image_file) }}">
      <div class="media-body">
        <!-- Add a container for the image above the text -->
        <div class="image-container">
            <img class="img-fluid rounded" src="{{ url_for('static', filename='hotel_images/' + hotel.image_file) }}" alt="{{ hotel.name }}">
        </div><hr>
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ hotel.type }}</a>
          <small class="text-muted">{{ hotel.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        <h2 class="article-title">{{ hotel.name }}</h2>
        <h5><a class="article-title" href="{{ url_for('hotels.hotel_rooms', name=hotel.name) }}">{{ hotel.name }} Rooms</a></h5>
        <h5><a class="article-title" href="{{ url_for('hotels.hotel_reservations', name=hotel.name) }}">{{ hotel.name }} Reservations</a></h5>
        <p class="article-content">{{ hotel.description }}</p>
        <p class="article-content">{{ hotel.city }}</p>
        <p class="article-content">{{ hotel.state }}</p>
        {% if hotel.author == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('hotels.update_hotel', hotel_id=hotel.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
        {% endif %}
      </div>
    </article>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete {{ title }}?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{ url_for('hotels.delete_hotel', hotel_id=hotel.id) }}" method="POST">
              <input class="btn btn-danger" type="submit" value="Delete">
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
