{% extends "base.html" %}

{% block content %}
    <h1>{{ block_title }}</h1><hr>
    <h2 class="mb-3">Rooms by Hotel {{ hotel.name }} ({{ rooms.total }})</h2>
    {% for room in rooms.items %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='room_images/' + room.image_file) }}">
          <div class="media-body">
            <!-- Add a container for the image above the text -->
            <div class="image-container">
                <img class="img-fluid rounded" src="{{ url_for('static', filename='room_images/' + room.image_file) }}" alt="{{ room.number }}">
            </div><hr>
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ room.type }}</a>
              <small class="text-muted">{{ room.date_posted.strftime('%Y-%m-%d') }}</small>
              <a class="mr-2" href="#">{{ room.availability_status }}</a>
            </div>
            <h2><a class="article-title" href="{{ url_for('rooms.room', room_id=room.id) }}">{{ room.number }}</a></h2>
            <h5><a class="article-title" href="{{ url_for('rooms.room_reservations', number=room.number) }}">{{ room.number }} Reservations</a></h5>
            <p class="article-content">{{ room.description }}</p>
            <p class="article-content">{{ room.price }}</p>
            <p class="article-content">{{ room.capacity }}</p>
          </div>
        </article>
    {% endfor %}
    {% for page_num in rooms.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if rooms.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('hotels.hotel_rooms', name=hotel.name, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('hotels.hotel_rooms', name=hotel.name, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}